/* 본고딕 Noto Sans CJK */

@font-face { font-family: 'NotoSans-Black'; src: url('../fonts/NotoSans/SC/NotoSansSC-Black.otf'); }
@font-face { font-family: 'NotoSans-Black'; src: url('../fonts/NotoSans/KR/NotoSansKR-Black.otf'); }

@font-face { font-family: 'NotoSans-Bold'; src: url('../fonts/NotoSans/SC/NotoSansSC-Bold.otf'); }
@font-face { font-family: 'NotoSans-Bold'; src: url('../fonts/NotoSans/KR/NotoSansKR-Bold.otf'); }

@font-face { font-family: 'NotoSans-Medium'; src: url('../fonts/NotoSans/SC/NotoSansSC-Medium.otf'); }
@font-face { font-family: 'NotoSans-Medium'; src: url('../fonts/NotoSans/KR/NotoSansKR-Medium.otf'); }

@font-face { font-family: 'NotoSans-Regular'; src: url('../fonts/NotoSans/SC/NotoSansSC-Regular.otf'); }
@font-face { font-family: 'NotoSans-Regular'; src: url('../fonts/NotoSans/KR/NotoSansKR-Regular.otf'); }

@font-face { font-family: 'NotoSans-DemiLight'; src: url('../fonts/NotoSans/SC/NotoSansSC-DemiLight.otf'); }
@font-face { font-family: 'NotoSans-DemiLight'; src: url('../fonts/NotoSans/KR/NotoSansKR-DemiLight.otf'); }

@font-face { font-family: 'NotoSans-Light'; src: url('../fonts/NotoSans/SC/NotoSansSC-Light.otf'); }
@font-face { font-family: 'NotoSans-Light'; src: url('../fonts/NotoSans/KR/NotoSansKR-Light.otf'); }

@font-face { font-family: 'NotoSans-Thin'; src: url('../fonts/NotoSans/SC/NotoSansSC-Thin.otf'); }
@font-face { font-family: 'NotoSans-Thin'; src: url('../fonts/NotoSans/KR/NotoSansKR-Thin.otf'); }

/* 본명조 Noto Serif CJK */

@font-face { font-family: 'NotoSerif-Black'; src: url('../fonts/NotoSerif/SC/NotoSerifSC-Black.otf'); }
@font-face { font-family: 'NotoSerif-Black'; src: url('../fonts/NotoSerif/KR/NotoSerifKR-Black.otf'); }

@font-face { font-family: 'NotoSerif-Bold'; src: url('../fonts/NotoSerif/SC/NotoSerifSC-Bold.otf'); }
@font-face { font-family: 'NotoSerif-Bold'; src: url('../fonts/NotoSerif/KR/NotoSerifKR-Bold.otf'); }

@font-face { font-family: 'NotoSerif-SemiBold'; src: url('../fonts/NotoSerif/SC/NotoSerifSC-SemiBold.otf'); }
@font-face { font-family: 'NotoSerif-SemiBold'; src: url('../fonts/NotoSerif/KR/NotoSerifKR-SemiBold.otf'); }

@font-face { font-family: 'NotoSerif-Medium'; src: url('../fonts/NotoSerif/SC/NotoSerifSC-Medium.otf'); }
@font-face { font-family: 'NotoSerif-Medium'; src: url('../fonts/NotoSerif/KR/NotoSerifKR-Medium.otf'); }

@font-face { font-family: 'NotoSerif-Regular'; src: url('../fonts/NotoSerif/SC/NotoSerifSC-Regular.otf'); }
@font-face { font-family: 'NotoSerif-Regular'; src: url('../fonts/NotoSerif/KR/NotoSerifKR-Regular.otf'); }

@font-face { font-family: 'NotoSerif-Light'; src: url('../fonts/NotoSerif/SC/NotoSerifSC-Light.otf'); }
@font-face { font-family: 'NotoSerif-Light'; src: url('../fonts/NotoSerif/KR/NotoSerifKR-Light.otf'); }

@font-face { font-family: 'NotoSerif-ExtraLight'; src: url('../fonts/NotoSerif/SC/NotoSerifSC-ExtraLight.otf'); }
@font-face { font-family: 'NotoSerif-ExtraLight'; src: url('../fonts/NotoSerif/KR/NotoSerifKR-ExtraLight.otf'); }

/* Other */

@font-face { font-family: '배달의민족 연성'; src: url('../fonts/other/BMYEONSUNG.otf') format('opentype'), url('../fonts/other/BMYEONSUNG.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'KaiTi'; src: url('../fonts/other/KaiTi.ttf'); }
@font-face { font-family: 'WanAnTi'; src: url('../fonts/other/wananti.ttf'); }
@font-face { font-family: 'SCDream3'; src: url('../fonts/other/SCDream3.otf'); }
@font-face { font-family: 'SCDream5'; src: url('../fonts/other/SCDream5.otf'); }