/* 본문 */

body:before {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;

    /* background: linear-gradient(#55507e, #20193b, #0c0e14) no-repeat center center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div {
    border: 1px dashed blueviolet;
}

.casing {
    border: 1px solid gainsboro;
    text-align: center;
    /* height: 100%; */
}

.digits { width: 5.6vmax; }
.chars  { width: 8vmax; }

.outer {
    margin: auto;
    position: relative;
    top: 0; bottom: 0; left: 0; right: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    height: 18vh;
}
.inner {
    display: table-cell;
    vertical-align: middle;
    /*background-color:#272e46;*/
}

input[type=button] {
    border: none;
    width: 10vmax;
    height: 5vmax;
    background: coral;
    font: 2vmax 'NotoSerif-Light';
    color: white;
}

input[type=button]:hover    { background-color: salmon; }
input[type=button]:active   { background: lightcoral; }
input[type=button]:focus    { outline: none; }