/* :root variables are created in initialize.js */

body {
    font-family: var(--font-family);
    font-size: min(var(--font-size), calc(100vw / 14), 10vh);
}

body:before {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;

    /* background: linear-gradient(#55507e, #20193b, #0c0e14) no-repeat center center; */
    -webkit-background-size: cover;
    background-size: cover;
}

.outer {
    margin: auto;
    position: relative;
    top: 0; bottom: 0; left: 0; right: 0;
    
    height: var(--case-width);
    margin: min(calc(var(--case-width) / 2), 5vh) 0;
    display: flex;

    justify-content: center;
    text-align: center;
    align-items: center;
}

div {
    border: var(--border-width) rgba(140, 0, 0, var(--border-opacity)) var(--div-border);

    /* for border transparency compatibility(...) */
    -webkit-background-clip: border padding content;     /* Safari 4? Chrome 6? */
    background-clip: border-box padding-box content-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}

.case {
    border: var(--border-width) rgb(140, 0, 0, var(--border-opacity)) var(--case-border);
    width: min(var(--case-width), calc(100vw / 11));
}

button {
    border: none;
    padding: 0 min(calc(var(--font-size) / 2.2), 10vh);
    /* width: min(calc(var(--font-size) * 3.4), 0); */
    height: min(var(--font-size), var(--case-width));

    font: min(calc(var(--font-size) / 2.2), calc(100vw / 14), 10vh) var(--font-family);
    background: lightcoral;
    color: white;

    vertical-align: middle;
    text-align: center;
    align-items: center;
}

button:hover    { background-color: salmon; }
button:active   { background: lightcoral; }
button:focus    { outline: none; }